@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Italiana&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #272727;
  font-size: 1rem;
}
